*{
    font-family: arial;
}
.x{
    margin-right: 5px;
    border: 1px solid black;
    font-size: 30px;
    color: white;
    background-color: #10296a;
}
.y{
    border: 1px solid black;
    font-size: 30px;
    color: white;
    background-color: #1b44ac;
}
a:link{
    color: crimson;
    text-decoration: none;
}
a:active{
    color: rgb(218, 218, 218);
    text-decoration: none;
}
.a, .b{
    border: 1px solid black;
    width: 10%;
    padding-bottom: 10%;
    font-size: 20px
}
#firstDiv:target{
    background-color: #192a56;
    color: #f5f6fa;
    width: 10%;
    padding-bottom: 10%;
    color: gold;
    font-size: 20px;
}
#secondDiv:target{
    border: 10px dotted green;
    width: 10%;
    padding-bottom: 10%;
    font-size: 20px;
    background-color: rgb(38, 179, 132);
}