html{
    background-color: #36454F;
}
h2{
    font-size: 50px;
    position: absolute;
    left: 700px;
    bottom: 350px;
    font-family: courier new;
    color: white;
}
img.a{
    position: absolute;
    left: 70px;
    top: 120px;
}
a.x{
    font-family: times new roman;
    letter-spacing: 1px;
    padding: 10px 10px;
    position: absolute;
    left: 690px;
    bottom: 120px;
    overflow: auto;
    height: 250px;
    width: 13cm;
    text-indent: 30px;
    color: white;
}
a.y{
    font-family: times new roman;
    letter-spacing: 1px;
    padding: 10px 10px;
    position: absolute;
    left: 690px;
    bottom: 10px;
    overflow: auto;
    height: 250px;
    width: 13cm;
    text-indent: 30px;
    color: white;
}
input.a{
    position: absolute;
    right: 1125px;
    bottom: 50px;   
}
button.b{
    position: absolute;
    left: 1125px;
    bottom: 50px;   
}