* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    margin: 15px 15px;
}
div.section{
    width: 33.33%;
    float: left;
}
.article{
    position: relative;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #EEE;
}
h2{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
}
p{
    margin-top: 35px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

}
#beef{
    background-color: blue;
}
#chicken{
    background-color: yellow;
}
#pork{
    background-color: pink;
}