*{
    font-family: fantasy;
    color: rgb(199, 177, 14);
}
#landscape{
    top: 20px;
    left: 10px;
    width: 250px;
    position: absolute;
    z-index: 1;
}
#winston{
    top: 150px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 2;
    position: absolute;
}
#hopper{
    top: 30px;
    left: 200px;
    width: 50px;
    z-index: 3;
    position: absolute;
}
h1{
    position: fixed;
    top: 10px;
    left: 30px;
    z-index: 4;

}
#song{
    top: 220px;
    position: relative;
}