body{
    text-align: center;
    border: 2px solid blue;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
}
header{
    background-color: lightgray;
}
h1{
    margin-top: 0;
}
article{
    font-family: monospace;
}
footer{
    background-color: lightgray;
}
